.user-card {
    width: 50%;
    padding: 10px;
    background: #fff;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 15px;

    @media screen and (max-width: $tablet-size) {
        width: 75%;
    }

    @media screen and (max-width: $sp-size) {
        width: 90%;
    }

    &__image-name {
        display: flex;
    }

    &__profile-image {
        height: 100px;
        width: 100px;
        border-radius: 50px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    &__name {
        margin-left: 20px;
        line-height: 100px;
        width: calc(100% - 250px);

        h3 {
            line-height: 100px;
        }
    }

    &__follow-btn {
        width: 150px;
        text-align: center;

        input[type="submit"] {
            margin-top: 30px;
            border-radius: 20px;
            color: #fff;
            border: none;
            padding: 3px 10px;
        }
        &__follow {
            background: rgb(20, 165, 220);
        }
        &__unfollow {
            background: rgb(235, 60, 75);
        }
    }

    &__show-follow {
        width: 150px;
        text-align: center;
        
        a {
            line-height: 100px;
        }
    }

    &__infomation {
        margin-top: 30px;
        table {
            width: 100%;

            tr {
                th, td {
                    padding: 5px;
                    font-size: 18px;
                }
                th {
                    width: 40%;
                }
            }
        }
    }
}
